<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.murkoto.calculator">

    <application>
        <activity android:name=".CalculatorActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>